<html>
<head>
    <title>Facial expression recognition</title>
</head>
<body>

<!--<form action="{{url_for('after')}}" method='POST' enctype='multipart/form-data'>-->
<!--    <input type="file" name='file1'>-->
<!--<input type="submit" name="btn"> -->
<!--</form>-->
<!--<form action="{{ url_for('video_feed') }}" method='POST'>-->
<!--    <input type="submit" name="btn">-->
<!--</form>-->
<!--<body>-->
<!--<img id="bg" width=1200px height=900px src="{{ url_for('video_feed') }}">-->
<!--</body>-->
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
        <div>
        <form action="{{url_for('after')}}" method='POST' enctype='multipart/form-data'>
            <p>For images, upload your image here</p>
            <input type="file" name='file1'>
            <input type="submit" name="btn">
        </form>
        </div>
    </div>
</div>
</body>

</html>